<mat-accordion multi>
    <mat-expansion-panel hideToggle expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Formulario
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card>
            <mat-card-title>
                <label *ngIf="!planillaSeleccionado || planillaSeleccionado.idPlanilla == 0" class="h4">Agregar
                    Planilla</label>
                <label *ngIf="planillaSeleccionado && planillaSeleccionado.idPlanilla > 0" class="h4">Editar
                    Planilla</label>
            </mat-card-title>
            <mat-card-content>
                <form id="planillaForm" [formGroup]="planillaForm" (ngSubmit)="guardarPlanilla()">
                    <mat-grid-list cols="1">
                        <mat-card-title>
                            <mat-form-field>
                                <mat-label>Nombre</mat-label>
                                <input matInput required formControlName="nombre"
                                    [ngClass]="{ 'is-invalid': planillaF('nombre')?.errors }" />
                                <mat-error *ngIf="planillaF('nombre')?.errors">Ingrese Nombre</mat-error>
                            </mat-form-field>
                        </mat-card-title>
                        <mat-card-title>
                            <mat-form-field>
                                <mat-label>Puesto</mat-label>
                                <mat-select [compareWith]="compareIds" required formControlName="puesto"
                                    [ngClass]="{ 'is-invalid': planillaF('puesto')?.errors }">
                                    <mat-option *ngFor="let area of puestoList; let i = index"
                                        [value]="area">{{area.nombrePuesto}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="planillaF('puesto')?.errors">Seleccionar Puesto</mat-error>
                            </mat-form-field>
                        </mat-card-title>
                        <mat-card-title>
                            <mat-form-field>
                                <mat-label>Es Empleado directo</mat-label>
                                <mat-select required formControlName="esEmpleadoDirecto"
                                    [ngClass]="{ 'is-invalid': planillaF('esEmpleadoDirecto')?.errors }">
                                    <mat-option [value]="true">SI</mat-option>
                                    <mat-option [value]="false">NO</mat-option>
                                </mat-select>
                                <mat-error *ngIf="planillaF('esEmpleadoDirecto')?.errors">Selecciona una
                                    opcion</mat-error>
                            </mat-form-field>
                        </mat-card-title>
                        <mat-card-title>
                            <mat-form-field>
                                <mat-label>Salario Mensual</mat-label>
                                <input matInput required formControlName="salarioMensual"
                                    [ngClass]="{ 'is-invalid': planillaF('salarioMensual')?.errors }" />
                                <mat-error *ngIf="planillaF('salarioMensual')?.errors">Ingrese Salario
                                    Mensual</mat-error>
                            </mat-form-field>
                        </mat-card-title>
                        <mat-card-title>
                            <mat-form-field>
                                <mat-label>Numero Empleados</mat-label>
                                <input matInput required formControlName="numeroEmpleados"
                                    [ngClass]="{ 'is-invalid': planillaF('numeroEmpleados')?.errors }" />
                                <mat-error *ngIf="planillaF('numeroEmpleados')?.errors">Numero de Empleados</mat-error>
                            </mat-form-field>
                        </mat-card-title>
                        <mat-card-title>
                            <button mat-stroked-button color="primary" type="submit"
                                *ngIf="!planillaSeleccionado || planillaSeleccionado.idPlanilla == 0">Agregar</button>
                            <button mat-stroked-button color="primary" type="submit"
                                *ngIf="planillaSeleccionado && planillaSeleccionado.idPlanilla > 0">Editar</button>
                        </mat-card-title>
                    </mat-grid-list>
                </form>
            </mat-card-content>
        </mat-card>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Tabla Planilla
            </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="planillaList" class="mat-elevation-z8">
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef [style.textAlign]="'center'">Nombre</th>
                <td mat-cell *matCellDef="let element" [style.textAlign]="'center'"> {{element.nombre}} </td>
            </ng-container>
            <ng-container matColumnDef="puesto">
                <th mat-header-cell *matHeaderCellDef [style.textAlign]="'center'">Puesto</th>
                <td mat-cell *matCellDef="let element" [style.textAlign]="'center'"> {{element.puesto.nombrePuesto}}
                </td>
            </ng-container>
            <ng-container matColumnDef="esEmpleadoDirecto">
                <th mat-header-cell *matHeaderCellDef [style.textAlign]="'center'">Es Empleado Directo</th>
                <td mat-cell *matCellDef="let element" [style.textAlign]="'center'"> {{element.esEmpleadoDirecto? 'SI' :
                    'NO'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="salarioMensual">
                <th mat-header-cell *matHeaderCellDef [style.textAlign]="'center'">Salario Mensual</th>
                <td mat-cell *matCellDef="let element" [style.textAlign]="'center'"> {{element.salarioMensual |
                    currency}}
                </td>
            </ng-container>
            <ng-container matColumnDef="numeroEmpleados">
                <th mat-header-cell *matHeaderCellDef [style.textAlign]="'center'">Salario Mensual</th>
                <td mat-cell *matCellDef="let element" [style.textAlign]="'center'"> {{element.numeroEmpleados}}
                </td>
            </ng-container>

            <tr mat-header-row
                *matHeaderRowDef="['nombre','puesto', 'esEmpleadoDirecto', 'salarioMensual', 'numeroEmpleados']"></tr>
            <tr mat-row
                *matRowDef="let row; columns: ['nombre','puesto', 'esEmpleadoDirecto', 'salarioMensual', 'numeroEmpleados'];"
                (click)="seleccionarPlanilla(row)"></tr>
        </table>
    </mat-expansion-panel>
</mat-accordion>