<mat-accordion multi>
    <mat-expansion-panel hideToggle expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Formulario
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card>
            <mat-card-title>
                <label
                    *ngIf="!materialesPorProductoSeleccionado || materialesPorProductoSeleccionado.idMaterialProducto == 0"
                    class="h4">Agregar Material por Producto</label>
                <label
                    *ngIf="materialesPorProductoSeleccionado && materialesPorProductoSeleccionado.idMaterialProducto > 0"
                    class="h4">Editar Material por Producto</label>
            </mat-card-title>
            <mat-card-content>
                <form id="materialesPorProductoForm" [formGroup]="materialesPorProductoForm"
                    (ngSubmit)="guardarMaterialesPorProducto()">
                    <mat-grid-list cols="1">
                        <mat-card-title>
                            <mat-form-field>
                                <mat-label>Descripcion</mat-label>
                                <input matInput required formControlName="producto"
                                    [ngClass]="{ 'is-invalid': materialesPorProductoF('producto')?.errors }" />
                                <mat-error *ngIf="materialesPorProductoF('producto')?.errors">Ingrese
                                    Descripcion</mat-error>
                            </mat-form-field>
                            <mat-card-title>
                                <mat-form-field>
                                    <mat-label>Materia Prima</mat-label>
                                    <mat-select [compareWith]="compareIds" required formControlName="producto"
                                        [ngClass]="{ 'is-invalid': materialesPorProductoF('producto')?.errors }">
                                        <mat-option *ngFor="let area of productoList; let i = index"
                                            [value]="area">{{area.nombreProducto}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="materialesPorProductoF('producto')?.errors">Seleccionar Producto
                                        Prima</mat-error>
                                </mat-form-field>
                            </mat-card-title>
                            <mat-card-title>
                                <mat-form-field>
                                    <mat-label>Materia Prima</mat-label>
                                    <mat-select [compareWith]="compareIds" required formControlName="materiaPrima"
                                        [ngClass]="{ 'is-invalid': materialesPorProductoF('materiaPrima')?.errors }">
                                        <mat-option *ngFor="let area of materiaPrimaList; let i = index"
                                            [value]="area">{{area.nombreMateria}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="materialesPorProductoF('materiaPrima')?.errors">Seleccionar
                                        Materia
                                        Prima</mat-error>
                                </mat-form-field>
                            </mat-card-title>
                            <mat-form-field>
                                <mat-label>Cantidad Necesaria</mat-label>
                                <input matInput type="checkbox" required formControlName="cantidadNecesaria"
                                    [ngClass]="{ 'is-invalid': materialesPorProductoF('cantidadNecesaria')?.errors }" />
                                <mat-error *ngIf="materialesPorProductoF('cantidadNecesaria')?.errors">es
                                    activo?</mat-error>
                            </mat-form-field>
                        </mat-card-title>
                        <mat-card-title>
                            <button mat-stroked-button color="primary" type="submit"
                                *ngIf="!materialesPorProductoSeleccionado || materialesPorProductoSeleccionado.idMaterialProducto == 0">Agregar</button>
                            <button mat-stroked-button color="primary" type="submit"
                                *ngIf="materialesPorProductoSeleccionado && materialesPorProductoSeleccionado.idMaterialProducto > 0">Editar</button>
                        </mat-card-title>
                    </mat-grid-list>
                </form>
            </mat-card-content>
        </mat-card>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Tabla Material por Productos
            </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="materialesPorProductoList" class="mat-elevation-z8">
            <ng-container matColumnDef="producto">
                <th mat-header-cell *matHeaderCellDef [style.textAlign]="'center'">Producto</th>
                <td mat-cell *matCellDef="let element" [style.textAlign]="'center'"> {{element.producto.nombreProducto}}
                </td>
            </ng-container>
            <ng-container matColumnDef="materiaPrima">
                <th mat-header-cell *matHeaderCellDef [style.textAlign]="'center'">Materia Prima</th>
                <td mat-cell *matCellDef="let element" [style.textAlign]="'center'">
                    {{element.materiaPrima.nombreMateria}} </td>
            </ng-container>
            <ng-container matColumnDef="cantidadNecesaria">
                <th mat-header-cell *matHeaderCellDef [style.textAlign]="'center'">Cantidad Utilizada</th>
                <td mat-cell *matCellDef="let element" [style.textAlign]="'center'"> {{element.cantidadNecesaria}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['producto', 'materiaPrima', 'cantidadNecesaria']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['producto', 'materiaPrima', 'cantidadNecesaria'];"
                (click)="seleccionarMaterialesPorProducto(row)"></tr>
        </table>
    </mat-expansion-panel>
</mat-accordion>