<mat-accordion multi>
    <mat-expansion-panel hideToggle expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Formulario
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card>
            <mat-card-title>
                <label
                    *ngIf="!planillaPorProductoSeleccionada || planillaPorProductoSeleccionada.idPlanillaProducto == 0"
                    class="h4">Agregar Planilla por Producto</label>
                <label *ngIf="planillaPorProductoSeleccionada && planillaPorProductoSeleccionada.idPlanillaProducto > 0"
                    class="h4">Editar Planilla por Producto</label>
            </mat-card-title>
            <mat-card-content>
                <form id="planillaPorProductoForm" [formGroup]="planillaPorProductoForm"
                    (ngSubmit)="guardarPlanillaPorProducto()">
                    <mat-grid-list cols="1">
                        <mat-card-title>
                            <mat-form-field>
                                <mat-label>Descripcion</mat-label>
                                <input matInput required formControlName="producto"
                                    [ngClass]="{ 'is-invalid': planillaPorProductoF('producto')?.errors }" />
                                <mat-error *ngIf="planillaPorProductoF('producto')?.errors">Ingrese
                                    Descripcion</mat-error>
                            </mat-form-field>
                        </mat-card-title>

                        <mat-card-title>
                            <mat-form-field>
                                <mat-label>Materia Prima</mat-label>
                                <mat-select [compareWith]="compareIds" required formControlName="producto"
                                    [ngClass]="{ 'is-invalid': planillaPorProductoF('producto')?.errors }">
                                    <mat-option *ngFor="let area of productoList; let i = index"
                                        [value]="area">{{area.nombreProducto}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="planillaPorProductoF('producto')?.errors">Seleccionar Producto
                                    Prima</mat-error>
                            </mat-form-field>
                        </mat-card-title>
                        <mat-card-title>
                            <mat-form-field>
                                <mat-label>Planilla</mat-label>
                                <mat-select [compareWith]="compareIds" required formControlName="planilla"
                                    [ngClass]="{ 'is-invalid': planillaPorProductoF('planilla')?.errors }">
                                    <mat-option *ngFor="let area of planillaList; let i = index"
                                        [value]="area">{{area.nombre}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="planillaPorProductoF('planilla')?.errors">Seleccionar
                                    Planilla</mat-error>
                            </mat-form-field>
                        </mat-card-title>

                        <mat-card-title>
                            <mat-form-field>
                                <mat-label>Cantidad de Recursos Necesarios</mat-label>
                                <input matInput required formControlName="cantidadRecursos"
                                    [ngClass]="{ 'is-invalid': planillaPorProductoF('cantidadRecursos')?.errors }" />
                                <mat-error *ngIf="planillaPorProductoF('cantidadRecursos')?.errors">es
                                    activo?</mat-error>
                            </mat-form-field>
                        </mat-card-title>

                        <mat-card-title>
                            <mat-form-field>
                                <mat-label>Horas Laboradas</mat-label>
                                <input matInput required formControlName="horasLaboradas"
                                    [ngClass]="{ 'is-invalid': planillaPorProductoF('horasLaboradas')?.errors }" />
                                <mat-error *ngIf="planillaPorProductoF('horasLaboradas')?.errors">es
                                    activo?</mat-error>
                            </mat-form-field>
                        </mat-card-title>

                        <mat-card-title>
                            <mat-form-field>
                                <mat-label>Horas Nocturnidad</mat-label>
                                <input matInput required formControlName="horasNocturnidad"
                                    [ngClass]="{ 'is-invalid': planillaPorProductoF('horasNocturnidad')?.errors }" />
                                <mat-error *ngIf="planillaPorProductoF('horasNocturnidad')?.errors">es
                                    activo?</mat-error>
                            </mat-form-field>
                        </mat-card-title>

                        <mat-card-title>
                            <mat-form-field>
                                <mat-label>Horas extras diurnas</mat-label>
                                <input matInput required formControlName="horasExtraDiurnas"
                                    [ngClass]="{ 'is-invalid': planillaPorProductoF('horasExtraDiurnas')?.errors }" />
                                <mat-error *ngIf="planillaPorProductoF('horasExtraDiurnas')?.errors">es
                                    activo?</mat-error>
                            </mat-form-field>
                        </mat-card-title>

                        <mat-card-title>
                            <mat-form-field>
                                <mat-label>Horas extras nocturnas</mat-label>
                                <input matInput required formControlName="horasExtraNocturnas"
                                    [ngClass]="{ 'is-invalid': planillaPorProductoF('horasExtraNocturnas')?.errors }" />
                                <mat-error *ngIf="planillaPorProductoF('horasExtraNocturnas')?.errors">es
                                    activo?</mat-error>
                            </mat-form-field>
                        </mat-card-title>

                        <mat-card-title>
                            <button mat-stroked-button color="primary" type="submit"
                                *ngIf="!planillaPorProductoSeleccionada || planillaPorProductoSeleccionada.idPlanillaProducto == 0">Agregar</button>
                            <button mat-stroked-button color="primary" type="submit"
                                *ngIf="planillaPorProductoSeleccionada && planillaPorProductoSeleccionada.idPlanillaProducto > 0">Editar</button>
                        </mat-card-title>
                    </mat-grid-list>
                </form>
            </mat-card-content>
        </mat-card>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Tabla Planilla por Productos
            </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="planillaPorProductoList" class="mat-elevation-z8">
            <ng-container matColumnDef="producto">
                <th mat-header-cell *matHeaderCellDef [style.textAlign]="'center'">Producto</th>
                <td mat-cell *matCellDef="let element" [style.textAlign]="'center'"> {{element.producto.nombreProducto}}
                </td>
            </ng-container>
            <ng-container matColumnDef="planilla">
                <th mat-header-cell *matHeaderCellDef [style.textAlign]="'center'">Planilla</th>
                <td mat-cell *matCellDef="let element" [style.textAlign]="'center'">
                    {{element.planilla.nombre}} </td>
            </ng-container>
            <ng-container matColumnDef="cantidadRecursos">
                <th mat-header-cell *matHeaderCellDef [style.textAlign]="'center'">Cantidad de Recursos</th>
                <td mat-cell *matCellDef="let element" [style.textAlign]="'center'"> {{element.cantidadRecursos}} </td>
            </ng-container>

            <ng-container matColumnDef="horasLaboradas">
                <th mat-header-cell *matHeaderCellDef [style.textAlign]="'center'">Horas Laboradas</th>
                <td mat-cell *matCellDef="let element" [style.textAlign]="'center'"> {{element.horasLaboradas}} </td>
            </ng-container>

            <ng-container matColumnDef="horasNocturnidad">
                <th mat-header-cell *matHeaderCellDef [style.textAlign]="'center'">Horas Nocturnidad/th>
                <td mat-cell *matCellDef="let element" [style.textAlign]="'center'"> {{element.horasNocturnidad}} </td>
            </ng-container>

            <ng-container matColumnDef="horasExtraDiurnas">
                <th mat-header-cell *matHeaderCellDef [style.textAlign]="'center'">Horas extra diurnas</th>
                <td mat-cell *matCellDef="let element" [style.textAlign]="'center'"> {{element.horasExtraDiurnas}} </td>
            </ng-container>

            <ng-container matColumnDef="horasExtraNocturnas">
                <th mat-header-cell *matHeaderCellDef [style.textAlign]="'center'">Horas extra nocturnas</th>
                <td mat-cell *matCellDef="let element" [style.textAlign]="'center'"> {{element.horasExtraNocturnas}}
                </td>
            </ng-container>

            <tr mat-header-row
                *matHeaderRowDef="['producto', 'planilla', 'cantidadRecursos', 'horasLaboradas', 'horasNocturnidad', 'horasExtraDiurnas', 'horasExtraNocturnas']">
            </tr>
            <tr mat-row
                *matRowDef="let row; columns: ['producto', 'planilla', 'cantidadRecursos', 'horasLaboradas', 'horasNocturnidad', 'horasExtraDiurnas', 'horasExtraNocturnas'];"
                (click)="seleccionarPlanillaPorProducto(row)"></tr>
        </table>
    </mat-expansion-panel>
</mat-accordion>